<div class="ts-graphs-graph-view__dropdown">
  <label for="ts-graphs-graph-view__toggle-cytoscape-settings">
    <i class="fa fa-cog"></i>
  </label>
  <input
    type="checkbox" id="ts-graphs-graph-view__toggle-cytoscape-settings"
    class="ts-graphs-graph-view__dropdown-trigger"
  >
  <ts-graphs-cytoscape-settings
    [settings]="settings"
    class="ts-graphs-graph-view__dropdown-content"
  ></ts-graphs-cytoscape-settings>
</div>

<div class="ts-graphs-graph-view__dropdown">
  <label for="ts-graphs-graph-view__toggle-graph-actions">
    Graph actions
  </label>
  <input
    type="checkbox" id="ts-graphs-graph-view__toggle-graph-actions"
    class="ts-graphs-graph-view__dropdown-trigger"
  >
  <ts-graphs-graph-actions
    class="ts-graphs-graph-view__dropdown-content"
    (actionComplete)="invalidate.emit()"
  ></ts-graphs-graph-actions>
</div>

<h3 *ngIf="state.type === 'empty'">
  Type a query
</h3>

<h3 *ngIf="state.type === 'loading'">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</h3>

<ts-graphs-cytoscape
  *ngIf="state.type === 'ready'"

  [elements]="state.graph.elements"
  [style]="style"
  [layout]="layout"

  [minZoom]="settings.minZoom"
  [maxZoom]="settings.maxZoom"
  [zoomingEnabled]="settings.zoomingEnabled"
  [userZoomingEnabled]="settings.userZoomingEnabled"
  [panningEnabled]="settings.panningEnabled"
  [userPanningEnabled]="settings.userPanningEnabled"
  [boxSelectionEnabled]="settings.boxSelectionEnabled"
  [selectionType]="settings.selectionType"
  [touchTapThreshold]="settings.touchTapThreshold"
  [desktopTapThreshold]="settings.desktopTapThreshold"
  [autolock]="settings.autolock"
  [autoungrabify]="settings.autoungrabify"
  [autounselectify]="settings.autounselectify"

  [headless]="settings.headless"
  [styleEnabled]="settings.styleEnabled"
  [hideEdgesOnViewport]="settings.hideEdgesOnViewport"
  [hideLabelsOnViewport]="settings.hideLabelsOnViewport"
  [textureOnViewport]="settings.textureOnViewport"
  [motionBlur]="settings.motionBlur"
  [motionBlurOpacity]="settings.motionBlurOpacity"
  [wheelSensitivity]="settings.wheelSensitivity"
  [pixelRatio]="settings.pixelRatio"
></ts-graphs-cytoscape>
