<div *ngIf="state.type === 'empty'">
    <h2>Please type a query.</h2>
</div>

<div *ngIf="state.type === 'loading'">
    <h2>
      <i class="fa fa-circle-o-notch fa-spin"></i>
      Loading...
    </h2>
</div>

<div *ngIf="state.type === 'ready'">
  <div class="graph-view__dropdown">
    <style type="text/css">
      input ~ ts-graphs-cytoscape-settings {
        display: none;
      }
      input:checked ~ ts-graphs-cytoscape-settings {
        display: block;
      }
    </style>
    <input type="checkbox" id="toggleCytoscapeSettings" style="display: none">
    <label for="toggleCytoscapeSettings"> Cytoscape settings </label>
    <ts-graphs-cytoscape-settings [settings]="settings">
    </ts-graphs-cytoscape-settings>
  </div>

  <ts-graphs-cytoscape
    [elements]="state.graph.elements"
    [style]="style"
    [layout]="layout"

    [minZoom]="settings.minZoom"
    [maxZoom]="settings.maxZoom"
    [zoomingEnabled]="settings.zoomingEnabled"
    [userZoomingEnabled]="settings.userZoomingEnabled"
    [panningEnabled]="settings.panningEnabled"
    [userPanningEnabled]="settings.userPanningEnabled"
    [boxSelectionEnabled]="settings.boxSelectionEnabled"
    [selectionType]="settings.selectionType"
    [touchTapThreshold]="settings.touchTapThreshold"
    [desktopTapThreshold]="settings.desktopTapThreshold"
    [autolock]="settings.autolock"
    [autoungrabify]="settings.autoungrabify"
    [autounselectify]="settings.autounselectify"

    [headless]="settings.headless"
    [styleEnabled]="settings.styleEnabled"
    [hideEdgesOnViewport]="settings.hideEdgesOnViewport"
    [hideLabelsOnViewport]="settings.hideLabelsOnViewport"
    [textureOnViewport]="settings.textureOnViewport"
    [motionBlur]="settings.motionBlur"
    [motionBlurOpacity]="settings.motionBlurOpacity"
    [wheelSensitivity]="settings.wheelSensitivity"
    [pixelRatio]="settings.pixelRatio"
  ></ts-graphs-cytoscape>
</div>
