version: '3'
services:
  timesketch:
    container_name: timesketch-dev
    image: us-docker.pkg.dev/osdfir-registry/timesketch/dev:latest
    command: timesketch
    ports:
      - 127.0.0.1:5000:5000
    links:
      - elasticsearch
      - postgres
      - redis
      - notebook
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
      - POSTGRES_ADDRESS=postgres
      - POSTGRES_PORT=5432
      - ELASTIC_ADDRESS=elasticsearch
      - ELASTIC_PORT=9200
      - REDIS_ADDRESS=redis
      - REDIS_PORT=6379
      - TIMESKETCH_USER=dev
      - TIMESKETCH_PASSWORD=dev
      - CHOKIDAR_USEPOLLING=true
    restart: always
    volumes:
      - ../../:/usr/local/src/timesketch/

  elasticsearch:    
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1

  postgres:
    container_name: postgres
    image: postgres:13.1-alpine
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
    restart: always

  redis:
    container_name: redis
    image: redis:6.0.10-alpine
    restart: always

  notebook:
    container_name: picatrix
    image: us-docker.pkg.dev/osdfir-registry/timesketch/notebook:latest
    ports:
      - 127.0.0.1:8844:8844
    restart: on-failure
    volumes:
      - ../../:/usr/local/src/timesketch/:ro
      - /tmp/:/usr/local/src/picadata/

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.24.1
    volumes:
      - ./prometheus:/etc/prometheus
    command: --config.file=/etc/prometheus/prometheus.yml

  es-metrics-exporter:
    container_name: es-metrics-exporter
    image: justwatch/elasticsearch_exporter:1.1.0
    command:
      - '--es.uri=http://elasticsearch:9200'
    restart: always

  grafana:
    container_name: grafana
    image: "grafana/grafana:latest"
    restart: always
    ports:
      - "127.0.0.1:3000:3000"