version: '3'
services:
  timesketch:
    image: us-docker.pkg.dev/osdfir-registry/timesketch/dev:latest
    command: timesketch
    ports:
      - "127.0.0.1:5000:5000"
    links:
      - elasticsearch
      - postgres
      - redis
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
      - POSTGRES_ADDRESS=postgres
      - POSTGRES_PORT=5432
      - ELASTIC_ADDRESS=elasticsearch
      - ELASTIC_PORT=9200
      - REDIS_ADDRESS=redis
      - REDIS_PORT=6379
      - TIMESKETCH_USER=dev
      - TIMESKETCH_PASSWORD=dev
      - CHOKIDAR_USEPOLLING=true
    restart: always
    volumes:
      - ../../:/usr/local/src/timesketch/

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1

  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
    restart: always

  redis:
    image: redis
    restart: always

  notebook:
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile
    ports:
      - 8844:8844
    restart: on-failure
    network_mode: "host"
    volumes:
      - ../../:/usr/local/src/picatrix/:ro
      - /tmp/:/usr/local/src/picadata/

