<div class="col-md-12">
    <div class="card">
        <table class="table table-hover" ng-hide="!searchTemplates.length">
            <thead>
            <tr>
                <th>Search templates</th>
                <th width="125px"></th>
            </tr>
            <tbody>
            <tr ng-repeat="template in searchTemplates">
                <td>
                    <div style="margin-top:5px;font-weight: bold">
                        <a href="/sketch/{{ sketchId }}/explore/searchtemplate/{{ template.id }}/">{{ template.name }}</a>
                    </div>
                    <span style="color:#777;">{{ template.query_string }}</span>
                </td>
                <td><button class="btn btn-default" style="margin-top:5px;" ng-click="addSearchTemplate(template)"> <i class="fa fa-plus"></i> Quick add</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>