<div class="col-md-12">
    <div class="card">
        <table class="table table-hover" ng-hide="!savedViews.length">
            <thead>
            <tr>
                <th>Saved views</th>
                <th width="110px">Created by</th>
                <th width="130px">Created</th>
                <th width="40px"></th>
            </tr>
            <tbody>
            <tr ng-repeat="view in savedViews">
                <td>
                    <div style="margin-top:5px;font-weight: bold">
                        <a href="/sketch/{{ sketchId }}/explore/view/{{ view.id }}/">{{ view.name }}</a>
                    </div>
                    <span style="color:#777;">{{ view.query_string }}</span>
                </td>
                <td>{{ view.user.username }}</td>
                <td>{{ view.updated_at}}</td>
                <td ng-click="deleteView(view)"><i class="fa fa-trash"></i></td>
            </tr>
            </tbody>
        </table>
        <h4 ng-hide="savedViews.length">No saved views</h4>
        <ts-search-template-list sketch-id="sketchId"></ts-search-template-list>
    </div>
</div>
