<div class="card" style="min-height: 300px;">
    <h4>Saved views</h4>
    <span ng-hide="savedViews.length">No saved views</span>
    <br>
    <table class="table table-hover" ng-hide="!savedViews.length">
        <thead>
        <tr>
            <th>Name</th>
            <th>Created by</th>
            <th>Created</th>
            <th></th>
        </tr>
        <tbody>
        <tr ng-repeat="view in savedViews">
            <td>
                <div style="font-weight: bold">
                    <a href="/sketch/{{ sketchId }}/explore/view/{{ view.id }}/">{{ view.name }}</a>
                </div>
            </td>
            <td>{{ view.user.username }}</td>
            <td>{{ view.updated_at}}</td>
            <td>
                <i ng-click="confirmDelete =! confirmDelete" ng-hide="confirmDelete" class="fa fa-trash pull-right" style="cursor: pointer"></i>
                <div class="pull-right" ng-show="confirmDelete">
                    <span style="color:red;cursor: pointer;margin-right:5px;" ng-click="deleteView(view)">Delete</span>
                    <i class="fa fa-close" style="cursor:pointer;" ng-click="confirmDelete =! confirmDelete"></i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="card" ng-if="showTemplates">
    <ts-search-template-list sketch-id="sketchId"></ts-search-template-list>
</div>
