<div ng-show="searchTemplates.length">
        <h4 ng-show="searchTemplates.length">Search templates</h4>
        <table class="table table-hover" ng-hide="!searchTemplates.length">
            <thead>
            <tr>
                <th></th>
                <th width="125px"></th>
            </tr>
            <tbody>
            <tr ng-repeat="template in searchTemplates">
                <td>
                    <div style="margin-top:5px;font-weight: bold">
                        <a href="/sketch/{{ sketchId }}/explore/searchtemplate/{{ template.id }}/">{{ template.name }}</a>
                    </div>
                </td>
                <td><button class="btn btn-default" style="margin-top:5px;" ng-click="addSearchTemplate(template)"> <i class="fa fa-plus"></i> Quick add</button></td>
            </tr>
            </tbody>
        </table>
</div>