<table class="table table-hover" ng-hide="!cannedViews.length">
    <thead>
    <tr>
        <th>Canned view</th>
        <th width="80px"></th>
    </tr>
    <tbody>
    <tr ng-repeat="view in cannedViews">
        <td>
            <div style="margin-top:5px;font-weight: bold">
                <b>{{ view.name }}</b>
            </div>
            <span style="color:#777;">{{ view.query_string }}</span>
        </td>
        <td><button class="btn btn-default" ng-click="addCannedView(view)"> <i class="fa fa-plus"></i> Add</button></td>
    </tr>
    </tbody>
</table>

<h4 ng-hide="cannedViews.length">No canned views available</h4>