<div class="row" ng-show="meta.noisy">
    <div class="col-md-12">
        <div class="card card-alert">
            <h4>I will only show you the first 500 events</h4>
            <p>May I suggest you narrow down the results with a filter?</p>
        </div>
    </div>
</div>

<div class="card" ng-show="events">
    <div ng-show="meta" style="padding:10px;">
        {{ meta.es_total_count }} events ({{ meta.es_time/1000 }}s)
    </div>
    <div ng-repeat="event in events">
        <ts-event event="event" meta="meta" sketch-id="sketchId"></ts-event>
    </div>
</div>
