<div class="modal" id="save-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Save this view</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" ng-model="view_name" class="form-control" placeholder="Name this view" required>
                    <br>
                    <input type="checkbox" ng-model="new_searchtemplate"> Also save as Search Template

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.saveView()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card card-top" style="padding-bottom:0;">

                <form class="form-inline" ng-submit="ctrl.search(query, filter)">
                    <div class="input-group">
                        <input ng-disabled="showAdvanced" ng-model="query" type="search" class="search-input" id="search-input" placeholder="Search" autofocus>
                   <span class="input-group-btn">
                        <button class="btn search-input"><i style="color:#999;" class="fa fa-search"></i></button>
                   </span>
                    </div>
                </form>

                <button ng-show="!showAdvanced" class="btn btn-link pull-right" ng-click="showAdvanced = !showAdvanced">Advanced</button>
                <button ng-show="showAdvanced" class="btn btn-link pull-right" ng-click="ctrl.closeJSONEditor()"><i class="fa fa-close"></i> Close</button>
                <br>
                <div ng-if="showAdvanced">
                    <b>JSON search query</b>
                    <br><br>
                    <ts-json-editor sketch-id="sketchId" query="query" filter="filter" query-dsl="queryDsl"></ts-json-editor>
                    <br>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default" ng-click="showFilters = !showFilters" ng-disabled="showAdvanced" ng-style="{true: {'background-color':'#f5f5f5'}}[showFilters]"><i class="fa fa-filter"></i> Filters</button>
                    <button class="btn btn-default" ng-click="showCharts = !showCharts" ng-style="{true: {'background-color':'#f5f5f5'}}[showCharts]"><i class="fa fa-bar-chart"></i> Charts</button>
                    <button class="btn btn-default" ng-click="ctrl.search_starred(query, filter)"><i class="fa fa-star icon-yellow"></i> Starred</button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#save-view-modal"><i class="fa fa-save"></i> Save view</button>
                </div>
                <ts-search-saved-view-picker ng-show="sketch.views.length" sketch="sketch" redirect-view="redirectView"></ts-search-saved-view-picker>
                <br><br>
            </div>

            <div class="card" ng-show="showFilters && !showAdvanced">
                <ts-filter
                        filter="filter"
                        query="query"
                        query-dsl="queryDsl"
                        sketch="sketch"
                        events="events"
                        meta="meta"
                        show-filters="showFilters">
                </ts-filter>
            </div>

            <div ng-show="showCharts">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#heatmap" aria-controls="heatmap" role="tab" data-toggle="tab"><i class="fa fa-th"></i> Heatmap</a></li>
                    <li role="presentation"><a href="#histogram-tab" aria-controls="histogram-tab" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Histogram</a></li>
                </ul>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content card">
                                <div role="tabpanel" class="tab-pane active" id="heatmap">
                                    <ts-heatmap
                                            query="query"
                                            filter="filter"
                                            query-dsl="queryDsl"
                                            meta="meta"
                                            sketch-id="sketchId"
                                            show-charts="showCharts">
                                    </ts-heatmap>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="histogram-tab">
                                    <ts-histogram
                                            query="query"
                                            filter="filter"
                                            query-dsl="queryDsl"
                                            meta="meta"
                                            sketch-id="sketchId"
                                            show-charts="showCharts">
                                    </ts-histogram>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" ng-if="filter.context">
                <ts-search-context-card ng-if="filter.context" context="filter.context"></ts-search-context-card>
            </div>

            <div class="card" ng-show="searchTemplate">
                <h4>Search template: {{ searchTemplate.name }}</h4>
                You are exploring in the context of a search template.
                <br>
                Click <a href="/sketch/{{ sketchId }}/explore">here</a> to go back to explore view.
                <br><br>
                <button class="btn btn-success" ng-click="ctrl.saveViewFromSearchTemplate(searchTemplate.id)"><i class="fa fa-plus"></i> Create new view from this template</button>
            </div>

            <ts-event-list events="events" meta="meta" sketch-id="sketchId" filter="filter" query="query" query-dsl="queryDsl" view-id="viewId" named-view="namedView"></ts-event-list>
        </div>
    </div>
</div>
