<div ng-show="showFilters" class="card">
    <h5>Time range</h5>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input ng-model="filter.time_start" type="text" class="form-control timerange-input" placeholder="Start 2014-01-01T23:00:00">
        </div>
        <i style="margin-left:5px;margin-right:5px;" class="fa fa-long-arrow-right"></i>
        <div class="form-group">
            <input ng-model="filter.time_end" type="text" class="form-control timerange-input" placeholder="End 2014-01-01T23:00:00">
        </div>
        <input style="margin-right:5px;margin-left: 5px;" type="submit" class="btn btn-primary" value="Filter" ng-click="applyFilter()">
        <input type="reset" class="btn btn-default" value="Clear" ng-click="clearFilter()">
    </form>

    <br><br>
    <h5>Timelines</h5>
    <div class="btn-group">
        <button class="btn btn-default" ng-click="enableAllTimelines()"><i class="fa fa-check"></i> Enable all</button>
        <button class="btn btn-default" ng-click="disableAllTimelines()"><i class="fa fa-ban"></i> Disable all</button>
    </div>
    <br><br>
    <div ng-repeat="timeline in sketch.timelines" class="pull-left timeline-box">
        <ts-timeline-picker-item timeline="timeline" query="query" filter="filter" query-dsl="queryDsl"></ts-timeline-picker-item>
    </div>

    <br><br><br>

</div>
