<table class="table ts-table-condensed">
    <tbody>
    <tr>
        <td width="250px">
            <label><input type="checkbox" ng-checked="checkboxModel.active" ng-click="toggleCheckbox()">
                <span ng-style="datatype_picker_title" style="margin-left:20px;font-weight: normal;">{{ datatype.key }}</span></label>
        </td>
        <td>
            <div class="progress ts-progress-bar">
                <div class="progress-bar" ng-style="datatype_picker_color" role="progressbar" aria-valuenow="{{ datatype.doc_count/meta.es_total_count_unfiltered*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ datatype.doc_count/meta.es_total_count_unfiltered*100 }}%;">
                </div>
            </div>
        </td>
        <td width="70px" style="padding-left:10px;">
            <span style="font-weight: bold;color: #999;">{{ datatype.doc_count/meta.es_total_count_unfiltered*100|number:1 }}%</span>
        </td>
        <td width="90px" align="right">
            <span ng-style="datatype_picker_title" style="font-weight: bold;">{{ datatype.doc_count }}</span>
        </td>
    </tr>
    </tbody>
</table>
