site_name: timesketch
use_directory_urls: true
extra_css:
  - assets/css/extra.css
markdown_extensions:
  - meta
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Home: index.md
  - Guides:
      - Getting started: guides/getting-started.md
      - User Guide:
          - Uploading timelines: guides/user/upload-data.md
          - Basic concepts: guides/user/basic-concepts.md
          - Sketch overview: guides/user/sketch-overview.md
          - Search query guide: guides/user/search-query-guide.md
          - Interactive notebook: guides/user/notebook.md
          - Import from JSON or CSV: guides/user/import-from-json-csv.md
          - Use Sigma: guides/user/sigma.md
          - Intelligence: guides/user/intelligence.md
          - Analyzers:
              - Tagger: guides/analyzers/tagger.md
      - Admin Guide:
          - Installing Timesketch: guides/admin/install.md
          - Scaling and limits: guides/admin/scaling-and-limits.md
          - Troubleshooting: guides/admin/troubleshooting.md
          - Admin CLI: guides/admin/admin-cli.md
          - Upgrade: guides/admin/upgrade.md
  - Developers:
      - Getting started: developers/getting-started.md
      - Frontend development: developers/frontend-development.md
      - Writing and running tests: developers/testing.md
      - Interactive notebook: developers/notebook.md
      - API client:
          - Introduction: developers/api-client.md
          - Upload data via API: developers/api-upload-data.md
      - Analyzers:
          - Create an analyzer: developers/analyzer-development.md
  - Community:
      - Resources: community/resources.md
      - Roadmap: community/roadmap.md
      - Events:
          - 2021 Summit: community/2021-timesketch-summit.md
  - Blog: https://osdfir.blogspot.com/search/label/timesketch
plugins:
  - redirects:
      redirect_maps:
        "learn/basic-concepts.md": "guides/user/basic-concepts.md"
        "learn/sketch-overview.md": "guides/user/sketch-overview.md"
        "learn/search-query-guide.md": "guides/user/search-query-guide.md"
        "learn/notebook.md": "guides/user/notebook.md"
        "learn/create-timeline-from-json-csv.md": "guides/user/import-from-json-csv.md"
        "learn/sigma.md": "guides/user/sigma.md"
        "getting-started/install.md": "guides/admin/install.md"
        "getting-started/sizing.md": "guides/admin/scaling-and-limits.md"
        "getting-started/upload-data.md": "guides/user/upload-data.md"

theme:
  name: material
  logo: assets/images/timesketch-color.svg
  language: en
  features:
    - navigation.tabs
    - navigation.sections
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/google/timesketch
