site_name: timesketch
use_directory_urls: true
extra_css:
  - assets/css/extra.css
markdown_extensions:
  - attr_list
nav:
  - Home: index.md
  - User Guide:
      - Upload data: user-guide/upload-data.md
      - Basic concepts: user-guide/basic-concepts.md
      - Sketch overview: user-guide/sketch-overview.md
      - Search query guide: user-guide/search-query-guide.md
      - Interactive notebook: user-guide/notebook.md
      - Create timeline from JSON or CSV: user-guide/create-timeline-from-json-csv.md
      - Use Sigma: user-guide/sigma.md
      - Intelligence: user-guide/intelligence.md
  - Admin Guide:
      - Installation: admin-guide/install.md
      - Sizing: admin-guide/sizing.md
      - Troubleshooting: admin-guide/troubleshooting.md
      - tsctl: admin-guide/tsctl.md
      - Upgrade: admin-guide/upgrade.md
  - Developers:
      - Getting started: developers/getting-started.md
      - API client:
          - Introduction: developers/api-client.md
          - Upload data via API: developers/api-upload-data.md
      - Analyzers:
          - Create an analyzer: developers/analyzer-development.md
  - Community:
      - Resources: community/resources.md
      - Roadmap: community/roadmap.md
      - Events:
          - 2021 Summit: community/2021-timesketch-summit.md
plugins:
  - redirects:
      redirect_maps:
        "learn/basic-concepts.md": "user-guide/basic-concepts.md"
        "learn/sketch-overview.md": "user-guide/sketch-overview.md"
        "learn/search-query-guide.md": "user-guide/search-query-guide.md"
        "learn/notebook.md": "user-guide/notebook.md"
        "learn/create-timeline-from-json-csv.md": "user-guide/create-timeline-from-json-csv.md"
        "learn/sigma.md": "user-guide/sigma.md"
        "getting-started/install.md": "admin-guide/install.md"
        "getting-started/sizing.md": "admin-guide/sizing.md"
        "getting-started/upload-data.md": "user-guide/upload-data.md"
theme:
  name: material
  logo: assets/images/timesketch-color.svg
  language: en
  features:
    - navigation.sections
    - navigation.tabs
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/google/timesketch
