#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild --with=python3,systemd

.PHONY: override_dh_auto_test
override_dh_auto_test:

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	rm -f debian/tmp/usr/lib/python3*/dist-packages/timesketch-*.egg-info/requires.txt

.PHONY: override_dh_installinit
override_dh_installinit:
	dh_installinit --name=timesketch

.PHONY: override_dh_python3
override_dh_python3:
	dh_python3 -p timesketch-server --shebang=/usr/bin/python3

.PHONY: override_dh_systemd_enable
override_dh_systemd_enable:
	dh_systemd_enable --name=timesketch
