<ul class="content-list" ng-hide="!timelines.length">
    <li class="content-item" ng-repeat="timeline in timelines">

        <div ng-if="showEdit" class="pull-right" style="margin-top:2px;">
            <a style="cursor: pointer; margin-left:10px; color:#333;" ng-show="showEdit" href="/sketch/{{ sketchId }}/timelines/{{ timeline.id }}/"><i class="fa fa-edit"></i></a>
        </div>

        <div ng-if="showDelete">
            <i ng-click="confirmDelete =! confirmDelete" ng-hide="confirmDelete" class="fa fa-trash pull-right" style="cursor: pointer; margin-top:3px;margin-left:10px;"></i>
            <div class="pull-right" ng-show="confirmDelete">
                <span class="btn btn-sm btn-danger" style="margin-top:-5px; margin-right:5px;margin-left:5px;" ng-click="deleteTimeline(timeline)">Delete</span>
                <i class="fa fa-close" style="cursor:pointer;" ng-click="confirmDelete =! confirmDelete"></i>
            </div>
        </div>

        <div class="pull-right">
            <span>{{ timeline.updated_at }}</span>
        </div>

        <div ng-show="timeline.status == 'processing'">
            <div class="pull-left" style="margin-right:10px;margin-left:10px;">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
            <div class="title">
                <span style="color:#999999;">{{ timeline.name }}</span>
            </div>
        </div>

        <div ng-show="timeline.status == 'fail'">
            <div class="pull-left color-box" style="margin-top:-5px; background:#d1d1d1;" title="{{ timeline.description }}"></div>
            <div class="title">
                <span style="color:#999999;">{{ timeline.name }}</span>
                <span style="margin-left:10px;">[<a href="/sketch/{{ sketchId }}/timelines/{{ timeline.id }}/">error details</a>]</span>
            </div>
        </div>

        <div ng-show="timeline.status == 'ready' || timeline.status == 'new'">
            <div class="pull-left color-box" style="background:#{{ timeline.color }}; margin-top:-5px"></div>
            <div class="title">
                <a style="text-decoration: none;" href="/sketch/{{ sketchId }}/explore/?q=*&index={{ timeline.searchindex.index_name }}&limit=40">{{ timeline.name }}</a>
            </div>
        </div>

    </li>
</ul>

<div ng-if="!timelines.length">
    No timelines
</div>
