{% extends "base.html" %}

{% block navigation %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url_for('sketch_views.overview', sketch_id=sketch.id) }}"><i class="fa fa-cube"></i> Overview</a></li>
        <li role="presentation"><a href="{{ url_for('sketch_views.explore', sketch_id=sketch.id) }}"><i class="fa fa-search"></i> Explore</a></li>
        <li role="presentation"><a href="{{ url_for('story_views.story', sketch_id=sketch.id) }}"><i class="fa fa-book"></i> Stories</a></li>
        <li role="presentation"><a href="{{ url_for('sketch_views.views', sketch_id=sketch.id) }}"><i class="fa fa-eye"></i> Views</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('sketch_views.timelines', sketch_id=sketch.id) }}"><i class="fa fa-clock-o"></i> Timelines</a></li>
    </ul>
{% endblock %}

{% block main %}

    <div class="container">
        {% if sketch.timelines %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="padding:30px;">
                        <h4>Timelines</h4>
                        <ts-timelines-list sketch-id="{{ sketch.id }}" show-delete="true" show-edit="true"></ts-timelines-list>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not sketch.timelines and not timelines %}
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center" style="padding:100px;">
                        <h3 style="color:#777"><i class="fa fa-meh-o"></i> No timelines in the system yet</h3>
                        <p>Get started by importing a Plaso storage file</p>
                        <ts-core-upload sketch-id="{{ sketch.id }}"></ts-core-upload>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        {% if sketch.has_permission(current_user, 'write') %}
            {% if timelines %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="pull-left">Add timeline</h4>
                            <form method="post" action="{{ url_for('sketch_views.timelines', sketch_id=sketch.id) }}">
                                <table class="table table-hover">
                                    <thead>
                                    <th width="30px"></th>
                                    <th>Timeline</th>
                                    <th>Created</th>
                                    </thead>
                                    {% for timeline in timelines %}
                                        {% if timeline.get_status.status == 'new' %}
                                            <tr>
                                                <td><input name="timelines" type="checkbox" value={{ timeline.id }}></td>
                                                <td>{{ timeline.name }}</td>
                                                <td>{{ timeline.created_at.strftime('%Y-%m-%d') }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                                {{ form.csrf_token }}
                                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add to sketch</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
