html {
  overflow-y: auto;
}

// Search History tree
// Based on http://fractaledmind.com/articles/css-tree/
.tree {
  color: #333;
  list-style: none;

  &,
  * {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    position: relative;
    padding-left: 1vw;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid #d4d4d4;
      width: 1vw;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      border-left: 1px solid #d4d4d4;
    }
    &:only-child::after {
      border-left: 0;
    }

    &:last-of-type::after {
      height: 50%;
      top: 0;
    }

    &:first-of-type::after {
      height: 50%;
      bottom: 0;
    }

    &:not(:first-of-type):not(:last-of-type)::after {
      height: 100%;
    }
  }

  ul,
  ol {
    padding-left: 1vw;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid #d4d4d4;
      width: 1vw;
    }

    &:not(:first-of-type):not(:last-of-type)::after {
      height: 100%;
    }
  }

  ul,
  ol {
    padding-left: 1vw;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid #d4d4d4;
      width: 1vw;
    }
  }

  span {
    background-color: #dddddd;
    text-align: center;
    padding: 0.33em 0.66em;
    border-radius: 4px;
    cursor: pointer;
    min-width: 100px;
  }

  > li {
    padding-left: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

// Add space between menu dropdown and activator
.menu-with-gap {
  margin-top: 10px;
}

.search-dropdown {
  margin-top: 15px;
}

.light-font {
  color: #333
}

.dark-font {
  color: #fff
}

.light-hover:hover {
  background-color: #f5f5f5;
}

.dark-hover:hover {
  background-color: #303030;
}

.light-hover-on-highlight:hover {
  background-color: #e6e6e6;
}

.dark-hover-on-highlight:hover {
  background-color: #393838;
}

.light-highlight {
  background-color: #f5f5f5;
}

.light-highlight-selected {
  background-color: #e6e6e6;
}

.dark-highlight {
  background-color: #303030;
}

.dark-highlight-selected {
  background-color: #383838;
}

.light-info-card {
  background-color: rgba(33, 150, 243, .1);
  color: #333;
  border-radius: 6px;
}

.dark-info-card {
  background-color: rgba(33, 150, 243, .1);
  color:#fff;
  border-radius: 6px;
  border:1px solid rgba(33, 150, 243, 0.3);
}

.timeline-name-ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.theme--dark.v-navigation-drawer {
  background-color: #1e1e1e;
}

.theme--dark.v-data-table tbody tr:hover:not(.v-data-table__expanded__content) {
  background: #303030 !important;
}

.v-card--link:before {
  background: none;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
