
:root {
  color-scheme: dark;
}

.md-header, .md-tabs  {
  background-color: #161616aa;
  color: #fff;
  box-shadow:none;
  border-bottom: 1px solid #4f4f4fab;
  color-scheme: dark;
}

.md-typeset h1 {
  margin:0;
  color:#fff;
  font-weight:bold;
}

.md-typeset h2 {
  margin:15px 0 0 0;
}

.md-typeset .md-button {
  color: #fff;
  background-color: #0071BC;
  border: none;
  border-radius: 30px;
}

.md-typeset .md-button:hover {
  background-color: hwb(204 10% 27%);
}

