<div ng-if="stories.length < 1">
    No stories
</div>

<div ng-if="stories.length > 0">
    <ul class="content-list">
        <li class="content-item" ng-repeat="story in stories">
            <div class="pull-right" style="margin-top:10px;">
                <span>{{ story.created_at }}</span>
            </div>
            <div class="title">
                <a style="text-decoration: none; font-weight: 500;font-size: 1.2em;" href="/sketch/{{ sketchId }}/stories/{{ story.id }}/"><b>{{ story.title||'Untitled story' }}</b></a>
                <br>
                Created by {{ story.user.username }}
            </div>
        </li>
    </ul>
</div>