<h3 style="margin-left:15px;" class="pull-left">Stories</h3>
<button class="btn btn-success pull-right" style="margin-top:-5px;" ng-click="createStory()"><i class="fa fa-plus"></i> Write a story</button>
<br><br>

<div ng-if="stories.length < 1">
    There are no stories written yet
</div>
<br>

<div ng-if="stories.length > 0">
    <ul class="content-list">
        <li class="content-item" ng-repeat="story in stories">
            <div class="pull-right" style="margin-top:10px;">
                <span>{{ story.created_at }}</span>
            </div>
            <div class="title">
                <a href="/sketch/{{ sketchId }}/stories/{{ story.id }}/"><b>{{ story.title||'Untitled story' }}</b></a>
                <br>
                Created by {{ story.user.username }}
            </div>
        </li>
    </ul>
</div>