<div ng-if="deleted">
    <b>Deleted view: {{ viewName }}</b>
</div>

<div ng-if="!deleted">
    <b>{{ viewName }}</b>
    <div class="pull-right" style="margin-bottom:6px;"><a href="/sketch/{{ sketchId }}/explore/view/{{ viewId }}">Go to view <i class="fa fa-arrow-right"></i></a></div>
    <div ng-repeat="event in events">
        <ts-event ng-hide="event.hidden && !meta.showHiddenEvents" enable-context-query="false" event="::event" meta="::meta" sketch-id="::sketchId" prev-timestamp="::events[$index-1]['_source'].timestamp" next-timestamp="::events[$index+1]['_source'].timestamp" index="::$index" order="::filter.order"></ts-event>
    </div>
    <br><br>
</div>
