{% extends "base.html" %}

{% block navigation %}
    <ts-sketch-navigation sketch-id="{{ sketch.id }}" active="views"></ts-sketch-navigation>
{% endblock %}

{% block main %}
        <div class="row">
            <div class="col-md-12">
                {% if sketch.has_permission(user=current_user, permission='write') and not sketch.timelines %}
                    <div class="card">
                        <div class="text-center" style="padding:100px;">
                            <h3 style="color:#777"><i class="fa fa-meh-o"></i> No data to analyze</h3>
                            <ts-core-upload sketch-id="{{ sketch.id }}"></ts-core-upload>
                            <br>
                            <a href="{{ url_for('sketch_views.timelines', sketch_id=sketch.id) }}">or add an existing timeline</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card" style="padding:30px;">
                        <h4>Views</h4>
                        <ts-saved-view-list sketch-id="{{ sketch.id }}" show-search-templates="true" show-delete="true"></ts-saved-view-list>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
