services:
  timesketch:
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
      - POSTGRES_ADDRESS=postgres
      - POSTGRES_PORT=5432
      - OPENSEARCH_HOST=opensearch
      - OPENSEARCH_PORT=9200
      - REDIS_ADDRESS=redis
      - REDIS_PORT=6379
      - TIMESKETCH_USER=test
      - TIMESKETCH_PASSWORD=test
      - TIMESKETCH_ADMIN_USER=admin
      - TIMESKETCH_ADMIN_USER_PASSWORD=admin
      - TIMESKETCH_USER2=test2
      - TIMESKETCH_PASSWORD2=test2
    build:
      context: ../../
      dockerfile: ./docker/e2e/Dockerfile
      args:
          UBUNTU_VERSION: ${UBUNTU_VERSION:-24.04}
          PLASO_PPA_TRACK: ${PLASO_PPA_TRACK:-stable}
    ports:
      - "127.0.0.1:80:80"
    links:
      - opensearch
      - postgres
      - redis
    restart: always
    volumes:
      - ../../:/usr/local/src/timesketch/

  opensearch:
    image: opensearchproject/opensearch:${OPENSEARCH_VERSION:-2.15.0}
    restart: always
    environment:
      - TAKE_FILE_OWNERSHIP=1
      - discovery.type=single-node
      - "DISABLE_INSTALL_DEMO_CONFIG=true"
      - "DISABLE_SECURITY_PLUGIN=true" # TODO: Enable when we have migrated the python client to Opensearch as well.
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=timesketch
      - POSTGRES_PASSWORD=password
    restart: always

  redis:
    image: redis:latest
    restart: always
