.md-header,
.md-tabs {
  background-color: #fff;
  color: #333;
  padding-top: 20px;
}

.md-header--shadow {
  box-shadow: none;
}

.md-main__inner {
  margin-top: 0;
}

.md-header__button.md-logo :-webkit-any(img, svg) {
  width: 200px;
  height: 40px;
  margin-left: -20px;
}

.md-tabs {
  background-color: #fff;
  color: #333;
  padding: 5px;
}

.md-header__title {
  margin-left: 0;
}

.md-search__input,
.md-search__input:hover {
  background-color: #f5f5f5;
}

.md-search__input::placeholder {
  color: #616161;
}

.md-search__input + .md-search__icon {
  color: #616161;
}

.md-typeset h1 {
  font-size: 1.7em;
  font-weight: 400;
  color: #333;
}

.md-typeset h2 {
  font-size: 1.3em;
  font-weight: 400;
  color: #333;
}

.md-typeset .md-button {
  border: 1px solid;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 0.625em 2em;
  transition: color 125ms, background-color 125ms, border-color 125ms;
  margin-right: 10px;
}

.md-typeset .md-button:hover {
  background-color: #333;
  border: 1px solid #333;
}

.md-typeset .md-button:focus {
  background-color: #333;
  border: 1px solid #333;
}
