{% extends "base.html" %}

{% block header_left %}
    <div class="pull-left" style="margin-right:0px;margin-top: -6px;">
        <form action="{{ url_for('home_views.home') }}" method="post">
            {{ form.name }}
            {{ form.description }}
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> New sketch</button>
            {{ form.csrf_token }}
        </form>
    </div>

{% endblock %}

{% block main %}

    {% if not sketches.all() and not query %}
        <div style="text-align: center">
            <br><br>
            <h3>Welcome to Timesketch</h3>
            <form action="{{ url_for('home_views.home') }}" method="post">
                {{ form.name }}
                {{ form.description }}
                <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-plus"></i> Create new sketch</button>
                {{ form.csrf_token }}
            </form>
        </div>
    {% else %}

        <div class="container">

            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="card">

                    <!--
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="pull-left" style="margin-right:0px;margin-top: -6px;">
                            <form action="{{ url_for('home_views.home') }}" method="post">
                                {{ form.name }}
                                {{ form.description }}
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Create new sketch</button>
                                {{ form.csrf_token }}
                            </form>
                        </div>
                        {% if upload_enabled %}
                            <ts-core-upload class="pull-left" style="margin-left:5px;margin-top: -6px;"></ts-core-upload>
                        {% endif %}

                    </div>
                </div>
                <br><br><br>
                    -->

                    {% if sketches.all() %}

                        <div>
                            <ul class="content-list">
                                {% for sketch in sketches.all() %}
                                    <li class="content-item" style="padding:15px;">
                                        <div class="pull-right" style="margin-top:10px;">
                                            <span style="margin-right:20px;">{{ sketch.user.username }}</span>
                                            <span style="margin-right:10px;"><i class="fa fa-clock-o"></i> {{ sketch.timelines|count }}</span>
                                            <span><i class="fa fa-eye"></i> {{ sketch.get_named_views|count }}</span>

                                        </div>
                                        <div class="title">
                                            <a style="text-decoration: none; font-weight: 500;font-size: 1.2em;" href="{{ url_for('sketch_views.overview', sketch_id=sketch.id) }}">{{ sketch.name }}</a>
                                            <br>
                                            Last activity {{ sketch.updated_at.strftime('%Y-%m-%d') }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>


                            <!--
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Created by</th>
                                <th>Status</th>
                                <th>Timelines</th>
                                <th>Views</th>
                                <th>Last activity</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if not sketches.all() and query %}
                                <tr><td colspan="6" style="text-align: center;">No results</td></tr>
                            {% endif %}

                            {% for sketch in sketches.all() %}
                                {% if sketch.get_status.status == 'closed' and not query %}
                                {% else %}
                                    <tr>
                                        <td><a href="{{ url_for('sketch_views.overview', sketch_id=sketch.id) }}">{{ sketch.name }}</a></td>
                                        <td>{{ sketch.user.name }}</td>
                                        <td>{{ sketch.get_status.status }}</td>
                                        <td><a href="{{ url_for('sketch_views.timelines', sketch_id=sketch.id) }}">{{ sketch.timelines|count }}</a></td>
                                        <td><a href="{{ url_for('sketch_views.views', sketch_id=sketch.id) }}">{{ sketch.get_named_views|count }}</a></td>
                                        <td>{{ sketch.updated_at.strftime('%Y-%m-%d %H:%M') }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        -->
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-1"></div>

        </div>
    {% endif %}
{% endblock %}
