<form class="form-inline" novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <div class="form-group" *ngFor="let prop of formDataIterable">

        <div style="margin-right:5px;" [ngSwitch]="prop.type">
            <input *ngSwitchCase="'text'"
                   class="form-control"
                   [placeholder]="prop.label"
                   [formControlName]="prop.key"
                   [id]="prop.key"
                   [type]="prop.type">
        </div>

    </div>
    <input type="submit" class="btn btn-primary" [disabled]="!formDataIterable" value="Query">
</form>
