<div class="card card-top">

    <form class="form-inline" (ngSubmit)="onSubmit()">

        <select class="select ts-graphs-cypher-query__predefined-queries pull-left" (change)="onQuerySelect($event.target.value)">
            <option disabled>Predefined queries</option>
            <option *ngFor="let item of predefinedQueries" [value]="item.id">
                {{item.name}}
            </option>
        </select>

        <span class="input-group-btn">
        <button type="submit" class="btn search-input">
          <i class="fa fa-search"></i>
        </button>
      </span>

    </form>

</div>
