<div class="card card-top">

    <form class="form-inline">

        <select class="select ts-graphs-cypher-query__predefined-queries" (change)="onQuerySelect($event.target.value)">
            <option disabled>Start by choosing a query</option>
            <option *ngFor="let item of predefinedQueries" [value]="item.id">
                {{item.name}}
            </option>
        </select>

    </form>
    <br>
    <ts-cypher-form (cypherSearch)="onQuerySubmit($event)" [selectedQuery]="selectedQuery"></ts-cypher-form>

</div>

