<table id="search-result-table" width="100%">
  <tr>
    <td [style.background-color]="'#' + timeline.color" width="210px">
      {{event._source.datetime}}
    </td>

    <td width="25px">
      <i
        [class.fa.fa-lg]="true"
        [class.fa-star.icon-yellow]="hasStar"
        [class.fa-star-o.icon-grey]="!hasStar"
      ></i>
    </td>

    <td
      [class.event-message]="true"
      [class.event-message-starred]="hasStar"
      [class.event-message-wrap]="!showDetails"
      [class.event-message-details]="showDetails"
      (click)="toggleDetails()"
    >
      <span *ngIf="hasComment"><i class="fa fa-comments"></i></span>
      <span *ngIf="event._source.tag">
        <span *ngFor="let tag of event._source.tag" class="label label-default">
          {{tag}}
        </span>
      </span>
      <span>[{{ event._source.timestamp_desc }}] <span title="{{ event._source.message }}">{{ event._source.message }}</span></span>
    </td>

    <td width="150px" style="text-align: right;background: #f1f1f1; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;">
      <span title="{{timeline.name}}" class="label ts-name-label">{{timeline.name}}</span>
    </td>

  </tr>
</table>
