<div class="ts-graphs-graph-view__dropdown" style="display: inline-block">
  <label for="ts-graphs-graph-view__toggle-sidebar">
    <i class="fa fa-bars"></i>
  </label>
</div>

<input
  type="checkbox" id="ts-graphs-graph-view__toggle-sidebar"
  class="ts-graphs-graph-view__dropdown-trigger"
  [(ngModel)]="showSidebar">

<input type="radio" name="width" id="ts-graphs-graph-view__sidebar-width15" class="ts-graphs-graph-view__sidebar-width">
<label for="ts-graphs-graph-view__sidebar-width15" class="btn btn-default ts-graphs-graph-view__sidebar-width-label">
  <i class="fa fa-battery-1"></i>
</label>

<input type="radio" name="width" id="ts-graphs-graph-view__sidebar-width30" class="ts-graphs-graph-view__sidebar-width" checked>
<label for="ts-graphs-graph-view__sidebar-width30" class="btn btn-default ts-graphs-graph-view__sidebar-width-label">
  <i class="fa fa-battery-2"></i>
</label>

<input type="radio" name="width" id="ts-graphs-graph-view__sidebar-width60" class="ts-graphs-graph-view__sidebar-width">
<label for="ts-graphs-graph-view__sidebar-width60" class="btn btn-default ts-graphs-graph-view__sidebar-width-label">
  <i class="fa fa-battery-3"></i>
</label>

<div *ngIf="showSidebar" class="ts-graphs-graph-view__dropdown-content ts-graphs-graph-view__sidebar">
  <div *ngIf="selectedElement.type === 'empty'" class="ts-graphs-graph-view__sidebar-hint">
    <h4>Click on nodes/edges to see details.</h4>
  </div>
  <ts-graphs-sidebar *ngIf="selectedElement.type !== 'empty'" [element]="selectedElement.element">
  </ts-graphs-sidebar>
</div>

<h3 *ngIf="state.type === 'empty'">
  Type a query
</h3>

<h3 *ngIf="state.type === 'loading'">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</h3>

<ts-graphs-cytoscape
  [style.visibility]="state.type === 'ready' ? 'visible' : 'hidden'"
  [elements]="state.type === 'ready' ? state.elements : []"
  [style]="style"
  [layout]="layout"
  (ready)="initEvents($event.cy)">
</ts-graphs-cytoscape>
