@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #34495e;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 5vw 2em;
    text-align: center;
    max-width: none;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 50em;
    padding: 1em 1em;
}

h1,
h2,
strong {
    font-weight: 400;
}

a {
    color: #34495e;
}

.buttons .button {
    display: block;
    margin-bottom: 1em;
}

html a.button {
    border: 1px solid #d8dee9;
    color: #b0bfc7;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

.button em {
    display: block;
    font-size: 0.6em;
    font-style: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.button strong {
    transition: color 200ms ease-out;
}

.button:hover strong {
    color: white !important;
}

.button.github strong {
    color: #333;
}

.button.github:hover {
    background: #333;
}

.button.twitter strong {
    color: #55acee;
}

.button.twitter:hover {
    background: #55acee;
}

@media (min-width: 600px) {
    .buttons {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
    }

    .buttons .button {
        flex-grow: 1;
        flex-shrink: 0;
        margin-bottom: 0;
        margin-right: 1em;
    }

    .buttons .button:last-child {
        margin-right: 0;
    }
}
