name: e2e-tests
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  PyPi:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - name: Set up infrastructure with docker-compose
        run: docker-compose -f docker/e2e/docker-compose.yml up -d
        env:
          OPENSEARCH_VERSION: 1.3.2
      - name: Run e2e tests
        run: docker-compose -f docker/e2e/docker-compose.yml exec -T timesketch python3 /usr/local/src/timesketch/end_to_end_tests/tools/run_in_container.py
