name: linters

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  PyLint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r test_requirements.txt
          pip install -r requirements.txt
          pip install -e .
          pip install api_client/python
          pip install importer_client/python
      - name: Run pylint
        run: |
          git config pull.rebase false && git fetch -p origin master
          for FILE in `git --no-pager diff origin/master --name-only --diff-filter=ACMR | grep \.py$`; do echo "Running pylint against ${FILE}"; pylint --rcfile=.pylintrc ${FILE}; done

  Black-formatter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable

  ESLint-frontend-ng:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./timesketch/frontend-ng
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        node-version: ["20"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn add eslint@5.16.0
      - name: Run eslint
        run: |
          git config pull.rebase false && git fetch -p origin master
          for FILE in `git --no-pager diff origin/master --name-only --diff-filter=ACMR | grep -e \.vue$ -e \.js$ | grep -v dist\/js | grep ^timesketch\/frontend-ng\/ | sed s/'^timesketch\/frontend-ng\/'/''/`; do echo "Running eslint against ${FILE}"; yarn run eslint ${FILE}; done
